{% extends "home/topbar.html" %}

{% block content %}

<h1><a href='{% url "vendor:vendor_detail" pos.supplier.id %}'>{{ pos.supplier.name }}</a></h1>
<h1><small>PO Number: {{ pos.num }}</small></h1>
<hr>
<h4><small>Created: {{ pos.created }} Modified: {{ pos.modified }} Viewed: {{ pos.viewed }}</small></h4>
<hr>
<h3><small>
<div class="row text-center">
  {% if pos.tax == True %}
  <div class="col-md-4">
    Subtotal: {{ pos.subtotal }}
  </div>
  {% endif %}
  {% if pos.tax == True %}
    <div class="col-md-4">
      Tax: {{  pos.tax_amt }}
    </div>
  {% endif %}
  {% if pos.tax == True %}
  <div class="col-md-4">
  {% else %}
  <div class="col-md-12">
  {% endif %}
    Total: {{ pos.total }}
  </div>
</div>
</small></h3>
<table class="table">
  <tr>
    <th>Description</th>
    <th>Item Number</th>
    <th>Publisher</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Unit Cost</th>
    <th>Line Total</th>
    <th></th>
  </tr>
  {% for ln in lines %}
  <tr>
    <td>{{ ln.desc }}</td>
    <td>{{ ln.item_num }}</td>
    <td>{{ ln.publisher.name }}</td>
    <td>{{ ln.start_date }}</td>
    <td>{{ ln.exp_date }}</td>
    <td>{{ ln.qty }}</td>
    <td>{{ ln.uom }}</td>
    <td>{{ ln.unit_cost }}</td>
    <td>{{ ln.line_total }}</td>
    <td>Edit</td>
  </tr>
  {% empty %}
  <tr>
    <td>No Lines in PO</td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
